<div class="container">
    <div>
        <div class="logo text-center py-4">
            <a href="#"> <img src="../static/images/zinglogo.png" alt="Zing Studios Logo" height="70"></a>
            <!-- <p>Copyright &copy; Zing Studios.</p> -->
        </div>
        <div class="social text-center">
            <h5 class="text-uppercase">Follow Me!</h5>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="copyrights text-center">
            <p class="para">
                Copyright &copy; 2021 All Rights Reserved | This Website Was made at 
                <a href="#"> <span style="color:red;"> Zing Studios.</span></a>
                ,authored by <a href="#"> <span style="color:red;"> Javian Anderson</span></a>
            </p>
        </div>
    </div>
</div>

<hr>
Copyright &copy; Zing Studios.

